<a href="https://colab.research.google.com/github/jw-1113/Python/blob/main/20260116.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# 문자열
a = ['life','is', 'too', 'short']
print(' '.join(a))  # 띄어쓰기 넣어서 이어붙이기

life is too short

In [10]:
a = 'life is too short'
print(a.split()) # 공백 기준으로 리스트 만들기

['life', 'is', 'too', 'short']

In [17]:
a = ' hellow '
print(a.strip()) # 문자열의 앞뒤 공백 지우기

hellow

In [16]:
a = "Life us too short"
print(a.replace("Life", "Your leg")) # 문장열의 값 치환

Your leg us too short

In [22]:
s = "12345"
print(s.isdigit())  # 주어진 값이 숫자로만 이루어져 있는지 검사

if s.isdigit():
  print(int(s)+1)  # 숫자라고만 이루어져있으니까 int 형으로 변환해서 1 더하기

s = "1234a"
print(s.isdigit())  # 문자도 포함되어 있어서 false

True
12346
False

In [24]:
a = "hi"
print(a.upper())  # upper로 리턴
print(a)          # 원본은 유지

HI
hi

In [27]:
a = [3,1,7,3]

print(a)
a.sort()  # 원본을 변경시킴 출력시키면 None 출력 return 하지 x
print(a)

[3, 1, 7, 3]
[1, 3, 3, 7]

In [41]:
a = 10
b = 20
print("I eat {} apples and {} oranges".format(a,b))
print("I eat %d apples and %d oranges" %(a,b))
print( "I ate {0} apples. so I was sick for {day} days.".format(10, day=3))
print(f"I eat {a} apples and {b} oranges")  # f 포맷팅

I eat 10 apples and 20 oranges
I eat 10 apples and 20 oranges
I ate 10 apples. so I was sick for 3 days.
I eat 10 apples and 20 oranges

In [43]:
# 튜플 자료형 -> 튜플 내용을 수정할 수 없다
# sort, insert, remove, pop과 같은 내장 함수 사용불가!!
t1 = (1, 2, 3)
print(t1)
print(type(t1))

(1, 2, 3)
<class 'tuple'>

In [47]:
l1 = [1]
print(type(l1))
l2 = (2)
print(type(l2)) # int형
l3 = (3,)
print(type(l3)) # 콤마 찍어줘야 튜플이 됌

<class 'list'>
<class 'int'>
<class 'tuple'>

In [49]:
a = 1,2,3 # 기본이 튜플형태로 묶임
print(a)
print(type(a))

(1, 2, 3)
<class 'tuple'>

In [50]:
a = 10
b = 20
a,b = b,a # C와 다르게 값 변경가능
print(a,b)

20 10

In [57]:
# 딕셔너리 자료형 Key, Value 구성
dic = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
print(dic)
print(type(dic))
print(dic['name']) # Key값을 부르면 Value값이 리턴 됌

{'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
<class 'dict'>
pey

In [62]:
dic['name'] = 'sam'
print(dic['name'])

dic['sex'] = 'man' # key값 추가
print(dic)

del dic['phone']  # key값 지우기
print(dic)

sam
{'name': 'sam', 'phone': '010-9999-1234', 'birth': '1118', 'sex': 'man'}
{'name': 'sam', 'birth': '1118', 'sex': 'man'}

In [64]:
print(dic.keys())   # Key값 출력
print(dic.values()) # Value값 출력

dict_keys(['name', 'birth', 'sex'])
dict_values(['sam', '1118', 'man'])

In [65]:
a = {1:'a', 1:'b'}  # 같은 key값을 주면 덮어쓴다
print(a)

{1: 'b'}

In [70]:
a = [1,2,3]
print (1 in a)
print (4 in a)

b = {1:'a', 2:'b'}
print( 'a' in b)          # Key값에 a가 있는지 확인
print( 'a' in b.values()) # Value에 a가 있는지 확인

True
False
False
True

In [79]:
# 집합 자료형
# 인덱스가 없어서 인덱싱이 불가능! 인덱싱으로 접근하려면 리스트나 튜플로 변환해야함
# 중복도 불가능!
s1 = set([1,2,3,3])
print(s1)
print(type(s1))

l1 =list(s1)
print(l1[0])

l2 = tuple(s1)
print(l2[1])

{1, 2, 3}
<class 'set'>
1
2

In [81]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

l1 = set(s1)
l2 = set(s2)
l3 = l1 & l2    # 교집합
print (l3)

print( s1 | s2) # 합집합
print( s1 - s2) # 차집합

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}

In [82]:
l1 = [1,2,1,2,3,3,5,5,5,5]
l2 = list(set(l1))    # set으로 중복 제거
print (l2)

[1, 2, 3, 5]

In [89]:
# 연산자
a = 5
b = 10
print(a>0 and b>0)
print(a>10 or b>5)
print(not a)

True
True
False

In [95]:
# 변수
a = 10
print(id(a))  # id함수로 변수가 가르키는 메모리 주소를 확인

b = 11
print(id(b))

c = 10    # 메모리에 주소를 차지하고있음 (비효율언어, 리소스 많이먹음)
id(c)

11654664
11654696

11654664

In [102]:
# if문
money = 11000

if money >= 3000:
  print("버스 타고 가라")
  if money > 10000:
    print("두쫀쿠도 사먹자")
else:
  print("걸어 가라")

버스 타고 가라
두쫀쿠도 사먹자

In [103]:
# 조건부 표현식
score = 85
result = "합격" if score>=60 else "불합격"
print(result)

합격