<a href="https://colab.research.google.com/github/jw-1113/Python/blob/main/260119.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# while문
prompt = """
  1.Add
  2.Del
  3.List
  4.Quit

  Enter Number:"""

number = 0
while number != 4:
  print(prompt)
  number = int(input())

  1.Add
  2.Del
  3.List
  4.Quit

  Enter Number:
4

In [5]:
# for 문
test_list = ['one','two','three']
for i in test_list:
  print(i)

one
two
three

In [6]:
l1 = [1,2,3,4,5,6,7,8,9,10]
sum = 0
for i in l1:
  sum = sum + i;
print(sum)

55

In [8]:
sum = 0
for i in range(11):
  sum = sum + i
print(sum)

55

In [11]:
list(range(1,11,2)) # (a,b,c,) a:시작숫자, b:끝숫자, c:배열

[1, 3, 5, 7, 9]

In [16]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60:
        continue
    print("%d번 학생 축하합니다. 합격입니다." % (number+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [17]:
list(enumerate(marks))  # 인덱스번호와 튜플형태로 만듬

[(0, 90), (1, 25), (2, 67), (3, 45), (4, 80)]

In [41]:
for i in range(1,10):
  for j in range(2,10):
    print( f"{j} x {i} = {i*j}", end='\t')
    #print(i*j, end=" ")
  print(" ")

2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

In [50]:
a = [1,2,3,4]
b = []
for i in a:
  b.append(i * 3)
print(b)

result = [i * 3 for i in a] # list compregension
print(result)

result2 = [i * 3 for i in a if i%2 == 0]
print(result2)

[3, 6, 9, 12]
[3, 6, 9, 12]
[6, 12]

In [52]:
# zip함수 두개 이상의 리스트를 동시에 순회
names = ['홍길동', '김철수', '이영희']
korean = [85, 92, 78]
english = [90, 88, 95]

for name, kor, eng in zip(names, korean, english):
     print(f"{name}: 국어 {kor}점, 영어 {eng}점")

홍길동: 국어 85점, 영어 90점
김철수: 국어 92점, 영어 88점
이영희: 국어 78점, 영어 95점

In [53]:
# 함수
def add(a,b):
  return a + b

print(add(10,5))

15

In [54]:
def say():
  return "Hi"

print(say())

Hi

In [56]:
def say_hi():
  print("hi")
  return

print(say_hi()) # return값이 없으니까 None 출력

hi
None

In [60]:
def sub(a,b):
  return a - b

print(sub(10, 5))
print(sub(a=20,b=5))  # 매개변수를 지정해서 값을 줄때는 순서 상관x
print(sub(b=5,a=20))

5
15
15

In [62]:
def say_myself(name, age, man=True):  # man = diffult 매개변수, 맨뒤에만 사용가능
    print("나의 이름은 %s 입니다." % name)
    print("나이는 %d살입니다." % age)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

say_myself("노재웅",27)
say_myself("아이유",30,False)

나의 이름은 노재웅 입니다.
나이는 27살입니다.
남자입니다.
나의 이름은 아이유 입니다.
나이는 30살입니다.
여자입니다.

In [63]:
def add_many(*args):
    result = 0
    for i in args:
         result = result + i   # *args에 입력받은 모든 값을 더한다.
    return result

print(add_many(1,2,3,4,5))

15

In [69]:
def print_kwargs(**kwargs): # 입력받은 값을 딕셔너리 형태로 출력
  print(kwargs)

print_kwargs(name='foo', age=3)

{'name': 'foo', 'age': 3}

In [70]:
def add_and_mul(a,b):
  return a+b, a*b

print(add_and_mul(10,20))

(30, 200)

In [74]:
def say_nick(nick):
  if nick == "바보":
    return
  print(f"나의 별명은 {nick}입니다.")

print(say_nick("바보"))

None

In [79]:
a = 1               # 전역변수
def vartest(a):     # 지역변수
    return a + 1

print(vartest(a))
print(a)

2
1

In [80]:
# global 명령어로 진입할수 있지만 사용하지 않음
a = 1
def vartest():
    global a
    a = a+1

vartest()
print(a)

2

In [81]:
# 리스트가 변경가능한(mutable) 자료형이기 때문에 값이 변경된다
def change_list(my_list):
  my_list.append(4)

a = [1,2,3]
change_list(a)
print(a)

[1, 2, 3, 4]

In [86]:
def two_times(x):
  return x*2

print(list(map(two_times, [1,2,3,4,])))
print(list(map(lambda x : x*2, [1,2,3,4,])))  # lamda함수로 간편하게 사용가능

[2, 4, 6, 8]
[2, 4, 6, 8]