In [ ]:
#Boolean Indexing
df_pokemon["Total"] >= 500
df_pokemon[df_pokemon["Total"] >= 500] # Total이 500 이상인 데이터만 추출

# 500이상이면서 1세대만 출력
(df_pokemon["Total"] >= 500) & (df_pokemon["Generation"] == 1)
df_temp = df_pokemon[(df_pokemon["Total"] >= 500) & (df_pokemon["Generation"] == 1)]
df_temp

#total 의 평균 구하기
df_temp["Total"].mean()

# df에서는 정수 형태로 취급
# 문자열 20이 df에서는 정수형 20
# 1세대 포켓몬의 평균 total
df_pokemon[df_pokemon["Generation"] == 1]["Total"].mean()

# 만약, Mega를 뺸다면
df_pokemon[(df_pokemon["Generation"] == 1) & (~df_pokemon["Name"].str.contains("Mega"))]["Total"].mean() 
# ~ : not (비트연산 기호)

In [ ]:
# 그룹 별 통계 수치 확인
# 세대 별(1~6) Total의 평균치
# 1) 세대별로 그룹화 시키고 1세대 total을 가져와 평균을 구하고,2세대 ,3세대,...
df_pokemon.groupby("Generation")["Total"].mean()

# Type 1 별 total 의 평균
df_pokemon.groupby("Type 1")["Total"].mean() # ""~~"별  "--"의 평균 >> ""~~"를 그룹화

# 어떤 통계 함수 사용할 수 있는지 ? 
df_pokemon.groupby("Generation")["Total"].max() #최댓값
df_pokemon.groupby("Generation")["Total"].min() #최소값
df_pokemon.groupby("Generation")["Total"].median( ) #중앙값
df_pokemon.groupby("Generation")["Total"].sum() #총합
df_pokemon.groupby("Generation")["Total"].count() # 갯수
#중앙값과 평균이 얼마나 차이가 있는지 >> 비교하여 데이터의 신뢰성 관련
#세대 별 Total 의 평균치와 중앙값을 동시에 출력
df_pokemon.groupby("Generation")["Total"].agg(["mean", "median"])

In [1]:
# 타이타닉 데이터
!curl -L https://github.com/nayeho/harman2/raw/refs/heads/main/train.csv -o titanic.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0

100 61194  100 61194    0     0  86017      0 --:--:-- --:--:-- --:--:-- 86017

In [ ]:
df_titanic = pd.read_csv("titanic.csv",encoding="UTF-8")
df_titanic.sample()

In [ ]:
# 탑승객 중 생존한 사람의 수
# 데이터를 Table 형태로 다룰 때, 각각의 cloumn은 후보 key라는 개념을 갖는다
# 10번째 승객과 20번째승객이 다른 Data 임을 나타내는 column이 필요
df_titanic[df_titanic["Survived"] == 1].count()
# robot 과정의 data >> 이름 /나이/mbti/... 24명 > 이름으로 구분 가능. why?) 중복이 없기 때문에 
# 따라서 이름은  Data를 구분하는 대표 key 가 될 수있음 > "Primary key(대표key)"
# 대표 column이 될 가능성이 있는 column들을 "후보 key" 라고 함.

# 대한민국5175만명의 국민 각각을 구분하는 column을 갖기 어려움(중복의 가능성)
# 그렇다면 우리가 부여하자 >> 주민등록번호

#titanic 에서는 PassengerId가 대표column(Primary key)이 됨.(중복x, 결측x)
#PassengerId 는 titanic data를 구분하기 위한 대표column(Primary key)이 됨
df_titanic[df_titanic["Survived"] == 1]["PassengerId"].count()

In [ ]:
# 탑승객중
# 1) 남성의 수 (Sex =="male")
print(f"""남성의 수 : {
df_titanic[df_titanic["Sex"]=="male"]["PassengerId"].count()
}명""")
# 2) 여성의 수 (Sex =="female")
print(f"""여성의 수 : {
df_titanic[df_titanic["Sex"]=="female"]["PassengerId"].count()
}명""")
# 3) 생존자 수
print(f"""생존자 수 : {
df_titanic[df_titanic["Survived"]==1]["PassengerId"].count()
}명""")
# 4) 사망자 수
print(f"""생존자 수 : {
df_titanic[df_titanic["Survived"]!=1]["PassengerId"].count()
}명""")
# 5) 남성 + 생존
print(f"""남성 + 생존 : {
df_titanic[(df_titanic["Sex"] == "male") & (df_titanic["Survived"] == 1)]["PassengerId"].count()
}명""")
# 6) 여성 + 생존
print(f"""여성 + 생존 : {
df_titanic[(df_titanic["Sex"] == "female") & (df_titanic["Survived"] == 1)]["PassengerId"].count()
}명""")
# 7) 남성 + 사망
print(f"""남성 + 사망 : {
df_titanic[(df_titanic["Sex"] == "male") & (df_titanic["Survived"] == 0)]["PassengerId"].count()
}명""")
# 8) 여성 + 사망
print(f"""여성 + 사망 : {
df_titanic[(df_titanic["Sex"] == "female") & (df_titanic["Survived"] == 0)]["PassengerId"].count()
}명""")

In [ ]:
# groupby() 
# 성별별 생존  column (생존1,사망0)
df_titanic.groupby("Sex")["Survived"].sum() #1과0밖에 없기 때문에
# 전체 숫자
df_titanic.groupby("Sex")["Survived"].count()
#전체 + 생존숫자
df_titanic.groupby("Sex")["Survived"].agg(["count","sum"])
#전체 + 생존숫자+
df_titanic.groupby("Sex")["Survived"].agg(["count","sum"])

In [ ]:
# Pclass 객실 등급 별 생존자 수
# 객실 등급 총 인원, 생존자 수

df_titanic.groupby("Pclass")["Survived"].agg(["count","sum","mean"])

In [ ]:
# 남성의 수, 여성의 수
# 해당하는 column별 data 개수
df_titanic["Sex"].value_counts()
#생존, 사망
df_titanic["Survived"].value_counts()
#객실 등급 별 인원
df_titanic["Survived"].value_counts()

In [ ]:
# 통계적인 데이터는 문자열 나오지 않는다!
# 타이타닉의 male, female을 1, 0으로 변환 적용

# 필요 없는 column 지우고 가자
# 데이터프레임명.drop
# inplace 삭제하기전 원본에 저장할것인가를 정함.
df_titanic.drop(columns=["SibSp", "Parch", "Ticket", "Fare", "Cabin", "Embarked"], inplace=True)

def is_male(sex):
    if sex == "male":
        return 1
    else:
        return 0

df_titanic["Male"] = df_titanic["Sex"].apply(is_male)
df_titanic

In [ ]:
# Python 에서 
# 함수 저의(메모리에 올라감) -> 사용
# 메모리에 올라가는 함수가 지속적으로 사용하지 않고
# 일회성으로 사용되는 함수!
# 만들자마자 쓰고 버리는건 어때 ? 
# Lambda Expression(람다 표현식)
def add(num1,num2):
    return num1 + num2
print(add(10,20))

#(함수명(매개변수): 리턴값)(전달인자)
(lambda num1, num2 : num1 + num2)(100,200)

In [ ]:
df_titanic["Female"] = df_titanic["Sex"].apply(lambda x: 1 if x == "female" else 0)
df_titanic.describe()

# correlation(상관분석)
df_titanic[["Survived","Age","Male","Female"]].corr()

# 비가 오면 우산 판매량이 늘어난다  : 비가온다 / 우산 판매량이 늘어난다 
# 여름이 되면 빙그레 주가가 올라간다
# + 1에 가까울 수록 양의 상관관계가 높다
# +0.7 이상이면 강한 상관관계 가 있다
# +0.7 ~ +0.4 상관관계가 있다
# 이전 요인이 다음 요인에 영향을 미칠 가능성이 있다
# 0.8 이상이면 두 요인은 같이 보는 것이 옳다. 실제로는 보기 어려움

# -1에 가까울수록 음의 상관관계가 있다
# -0.7 이하이면 강한 음의 상관관계 가 있다
# -0.7 ~ - 0.4 상관관계가 있다


# data분석
 # 생존과 여성의 관계 여성일수록 더 생존하게 된다  + 남성일수록 더 사망하게 된다

In [ ]:
df_pokemon["Legend"] = df_pokemon["Legendary"].apply(lambda x : 1 if x else 0)
df_pokemon[["Total","Generation","Legend"]].corr()
# 분석
# 레전드가 1일수록 토탈이 높아진다

In [ ]:
list_drink = ["솔의 눈","데자와","닥터페퍼","ZICO"]
print("원본 :",list_drink)
list_copy = list_drink # 얕은 복사 (주소만 복사)
print("복사본 : ",list_copy)
list_copy[1] = "실론티"
print("복사본 : ",list_copy)

print("원본 :",list_drink)

# 작업을 할 때 원본을 복사해서 작업 > 양식의 원본은 그대로 두고 함
# 복사본에서 작업을 했더니 원본에 영향이 갔음
# list_copy가 원본의 주소를 바라보게함 (한집에 두 열쇠)

# 깊은 복사
list_copy2 = list_drink.copy() # 깊은 복사(주소 따로, 값 복사 -> 새로이 저장공간이 하나 더생기게 됨)
# copy2 내용이 변경 되더라도 원본에 영향 x 
print("원본 :",list_drink)
print("복사본2 : ",list_copy2)
list_copy2[3] = "아침햇살"
print("복사본2 : ",list_copy2)
print("원본 :",list_drink)

In [ ]:
df_tt = df_titanic # 얕은 복사 
# df_tt 의 내용변경 -> 원본까지 영향
df_tt2= df_titanic.copy() # 깊은 복사 원본에 영향 x 

# 이상치, 결측치 내일 (09/09진행)

In [ ]:
# 시각화 (Visualization)
# matplotlib
import matplotlib.pyplot as plt

# 선 그래프 : Line-plot
plt.figure(figsize=(8,3)) #크기 정하기
x = [1,2,3,4,5]
y = [10,20,30,35,40]
plt.xlabel("study time(hour)")
plt.ylabel("python score")
plt.title("python score by study time")
plt.grid(True)
plt.plot(x,y,marker = "o",color="red",linestyle="--") # marker = "o","s","^",...
# plt.legend() # 범례
plt.show()

In [ ]:
# 막대 그래프 : Bar Plot
categories = ["A","B","C","D"]
values = [15,22,30,18]
plt.figure(figsize=(6,3))
plt.bar(categories,values)
plt.show()

In [ ]:
# 포켓몬 세대별 Total 평균
x_pokemon = df_pokemon["Generation"].unique()
x_pokemon
y_pokemon = df_pokemon.groupby("Generation")["Total"].mean()

plt.figure(figsize=(6,4))
plt.bar(x_pokemon,y_pokemon)
plt.show()

In [ ]:
# 포켓몬 Type 1 별 Total 평균을 막대그래프(Bar Plot)로 출력
x_pokemon1 = df_pokemon["Type 1"].unique()
y_pokemon1 = df_pokemon.groupby("Type 1")["Total"].mean()

plt.figure(figsize=(20,4))
plt.bar(x_pokemon1,y_pokemon1)
plt.show()
# 글씨조정하려면 다른 라이브러리를 가져오는게 낫다

In [ ]:
# 파이차트 (Pie Chart)
# 포켓몬의 레전더리 유무
legend_count = df_pokemon["Legend"].value_counts()
plt.figure(figsize=(5,4))
plt.pie(legend_count, labels = legend_count.index, autopct ="%.3f%%",startangle=90) #%%를 써야됨 1개는 기능
# 인덱스 0/1 , 퍼센트표시, 시작각도
plt.show()

In [ ]:
# 산점도 (Scatter Plot)

# 키, 몸무게 데이터(가상)
np.random.seed(41) # 재현성을 위해 시드 고정 (시드가 고정되면 한 시드내에서 랜덤으로 나오는 순서가 정해져있음)
height = np.random.normal(172,12,100) # 평균172, 표준편차 12, 100개 데이터
weight = height - 110 + np.random.normal(0,5,100)
plt.figure(figsize=(6,4))
plt.xlabel("height (cm)")
plt.ylabel("weight (kg)")
plt.scatter(height,weight,c=weight, s=50, alpha=0.7) # 색, 점 크기, 투명도
plt.show()

In [ ]:
# 히스토그램 (Histogram)
data2 = np.random.randn(1000) # 정규분포를 따르는 데이터 1000개
plt.figure(figsize=(6,4))
plt.hist(data2,edgecolor="black", bins= 30) # bins = 구간 수 
plt.show()

In [ ]:
#plt.show()
#여러개의 plot를 보고 싶을 때
#subplot을 사용
fig,axes = plt.subplots(2,2,figsize=(10,10)) # 튜플 형태로 받음
axes[0,0].bar(x_pokemon1,y_pokemon1)
axes[0,1].pie(legend_count, labels = legend_count.index, autopct ="%.3f%%",startangle=90)
axes[1,0].scatter(height,weight,c=weight, s=50, alpha=0.7)
axes[1,1].hist(data2,edgecolor="black", bins= 30)

In [ ]:
# 오늘의 목표 이런것들을 한번 들어봤다 정도로 알기